

/*About me section */
.px-4 {
    padding-top: 150px;
    padding-bottom: 150px;
}
#About{
    background-color: lightgray;
    padding: 20px;
    width:50%;
}

#Work{
    @media (max-width: 575.98px) {767.97}
}

.list-group-item-2 {
    width: 50%;
    
}

.row{
padding: 5px ;

}

/*Styling list */
.container-fluid{
    padding: 5px;
}

.col-19{
    background-color: tan;
    
}



.list-group{
    width:100%;
}
/*Styling progress-bars*/
.progress{
    margin-left: 50px;  
    margin-right: 60px;
}

/*Styling carousel*/
.carousel-inner {
background-color: #dac8bb;
 /*background-image: url(./images); */
 border-radius: 10px;

 @media (max-width: 575.98px) {767.97}
 

}

/*Contact form*/
.container-21{
    background-color: lightsalmon;
    color: white;
    width: 30%;
    padding: 4px;
    border-radius: 10px;
    margin-left: 980px;
    margin-right: 250px;
    
}




.container-footer{
    background-color: black;
    color: white;
    padding-top: 1px;
    padding-bottom: 1px; 
    margin-top: 200px;   
}

